h1{
    color: aqua;
    font-size: 60px;

}
P{
    background-color: #8ecae6;
}

.bkguser{
    width: 12%;
    border-radius: 6px ;
background: #023047;
border: 3px solid #219ebc;
}
.bkgpass{
    width: 12%;
    border-radius: 6px ;
background: #023047;
border: 3px solid #219ebc;
}
